
body {
    background-image: url('./images/bg-pattern-top.svg'),url('./images/bg-pattern-bottom.svg');
    background-color: hsl(185, 75%, 39%);
    background-repeat: no-repeat, no-repeat;
    background-position: right 51vw bottom 20vh, left 45vw top 50vh;
    font-family: 'Kumbh Sans', sans-serif;
    padding: 0;
    margin: 0;
}

/* the main card */
#card {
    background-color: white;
    margin: auto;
    margin-top: 5em;
    width: 85%;
    text-align: center;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    max-width: 320px;
}

/* the container around the profile image */
#image {
    background-image: url('./images/bg-pattern-card.svg');
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding-top: 4.5em;
}

/* profile image */
img {
    border-radius: 50%;
    border: solid 5px white;
    margin-bottom: -4em;
}

/* Victor's name */
#name {
    padding-top: 5em;
    font-weight: 700;
    color:#2E3349;
    padding-bottom: .6em;
    line-height: 18px;
    font-size: 18px;
}

/* Victor's age */
#age {
    display: inline-flex;
    color: hsl(0, 0%, 59%);
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    padding-left: .3em;
}

/* London */
#london {
    padding-bottom: 1.5em;
    line-height: 14px;
    font-size: 14px;
    color: #6B7082;
}

/* holds the smaller cards for followers, likes, photos */
#stats {
    border-top: solid 1px lightgrey;
    padding: 24px 16px 16px 24px;
}

/* the smaller cards */
.minicard {
    display: inline-block;
    padding: 1em;
}

/* the numeric stats -- change this to a h5 or smth */
.number {
    color: #2E3349;
    font-weight: 700;
    font-size: 18px;
    line-height: 18.11px;
}

/* the labels -- change this to a h3 or smth */
.label {
    text-align: center;
    font-size: 10px;
    line-height: 10.06px;
    letter-spacing: 1.5px;
    padding-top: .5em;
    color: #6B7082;
}

.attribution {
    display: none;
}