
body {
    background-image: url('./images/bg-pattern-top.svg'),url('./images/bg-pattern-bottom.svg');
    background-color: hsl(185, 75%, 39%);
    background-repeat: no-repeat;
    font-family: 'Kumbh Sans', sans-serif;
}

/* the main card */
#card {
    background-color: white;
    margin: auto;
    margin-top: 4em;
    width: 80%;
    text-align: center;
    border-radius: 9px;
    justify-content: center;
    align-items: center;
}

/* the container around the profile image */
#image {
    background-image: url('./images/bg-pattern-card.svg');
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    padding-top: 4.5em;
}

/* profile image */
img {
    border-radius: 50%;
    border: solid 5px white;
    margin-bottom: -4em;
}

/* Victor's name */
#name {
 padding-top: 5em;
 font-weight: 700;
 color:hsl(229, 23%, 23%);
 padding-bottom: .5em;
}

/* Victor's age */
#age {
    display: inline-flex;
    color: hsl(0, 0%, 59%);
    font-weight: 400;
}

/* London */
#london {
    color: hsl(0, 0%, 59%);
    padding-bottom: 1em;
}

/* holds the smaller cards for followers, likes, photos */
#stats {
    border-top: solid 1px lightgrey;
    padding-top: 1.5em;
    padding-left: 1em;
    padding-bottom: 1em;
}

/* the smaller cards */
.minicard {
    display: inline-block;
    padding: 1em;
}

/* the numeric stats -- change this to a h5 or smth */
.number {
    color:hsl(229, 23%, 23%);
    font-weight: 700;
}

/* the labels -- change this to a h3 or smth */
.label {

}

.attribution {
    display: none;
}